<div class="clr-row" >
    <div class="clr-col-12" style="display: inline-block;">
        <div class="card">
            <div class="card-block">
                <h2 class="card-title">Cats</h2>
            </div>
            <div class="card-footer">
                <a class="btn btn-sm btn-link" (click)="onClickCat()">Order a Cat</a>
            </div>
        </div>
    </div>
    <div class="clr-col" style="display: inline-block;">
        <div class="card">
            <div class="card-block">
                <h2 class="card-title">Dogs</h2>
            </div>
            <div class="card-footer">
                <a class="btn btn-sm btn-link" (click)="onClickDog()">Order a Dog</a>
            </div>
        </div>
    </div>
</div>